html { font: 14pt/1.2 sans-serif; color: #888; }
body { text-align: left; margin-top: 5vh; margin-left: 2vh;}
a { color: inherit; text-decoration: ; }
address { text-align: left; display: inline-block; font: inherit; }
strong { color: black; }

div.ruta {margin: 0; padding: 2pt; border: 1px solid #888; }

@media (min-width: 1024px) {
  html { font-size: 2em; }
}
